@{
    ViewBag.Title = "About Entropy";
}
<h2>@ViewBag.Title</h2>
<h3>Why Choose Entropy Healthcare?</h3>

<p>
Established by Dr Palash Hazra in 2019, Entropy Healthcare has a robust presence across the healthcare ecosystem. From routine wellness & preventive health care to innovative life-saving treatments and diagnostic services, Entropy Hospital has touched more than 120 lives from over 4 countries, offering the best clinical outcomes.</p>

<h3>10+ Healing Hands</h3>

<p>Largest network of the world’s finest and brightest medical experts who provide compassionate care using outstanding expertise and advanced technology.</p>
<h3>10+ Pharmacies</h3>

<p>Entropy Pharmacy is India’s first, largest and most trusted branded pharmacy network, with over 10 plus outlets covering the entire nation</p>
<h3>Most Advanced Healthcare Technology</h3>

<p>Entropy Hospital has been the pioneer in bringing ground-breaking healthcare technologies to India.</p>
<h3>Best Clinical Outcomes</h3>

<p>Leveraging its vast medical expertise & technological advantage, Entropy Hospital has consistently delivered best in class clinical outcomes.</p>
