@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Entropy Incorporation</strong><br />
    Sukanta Nagar, Salt Lake<br />
    Sector-4, Kolkata-700106, WB, India.<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:palashjesus@gmail.com">palashjesus@gmail.com</a><br />
    <strong>Concern:</strong> <a href="mailto:palashhazra11@yahoo.in">palashhazra11@yahoo.in</a>
</address>