@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Entropy Hospital</h1>
    <p class="lead">Free Treatment for everyone irrespective of poor or rich.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Treated</h2>
        <p>
            Entropy gives you a powerful, logic-based way to treat peoples and it provides
            a clean and caring environment and gives you full control over your body
            for enjoyable, live with fullness.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Get Doctors</h2>
        <p>Entropy provides free treatment with world class doctors, nurses, and workers/staffs.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Ambulance Facility</h2>
        <p>You can easily find ambulance in your emergency situation. Treat first and pay later.</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>